/********************* address/index *****************************/
#page-address_list .content .product-img{
    width: 3.5rem;
    height: 3.5rem;
}
#page-address_list .card{
    margin: .75rem .5rem;
}
#page-address_list .card-footer{
    padding: 0;
}
#page-address_list .card-footer > div{
    text-align: center;
    height: 1.8rem;
    line-height: 1.8rem;
}
#page-address_list .card-footer > div a{
    display: inline-block;
    width: 100%;
    border-left: 1px solid #e1e1e1;
}
#page-address_list .card-footer > div a:last-child{
    border-right: 0;
}
#page-address_list .card-content:active{
    background-color: #d9d9d9;
}
#page-address_list .card-content-inner{
    padding: .5rem;
}
#page-address_list .card-content-inner p{
    width: 80%;
    min-height: 1.2rem;
}
#page-address_list .card-footer{
    min-height: 1.8rem;
}
#page-address_list .bar-footer{
    padding: 0;
}
#page-address_list .label-checkbox{
    position: absolute;
    right: .5rem;
    top: 50%;
    margin-top: -.55rem;
}
#page-address_list .btn-add{
    background-color: #41c172;
    border-radius: 0;
    height: 2.2rem;
    line-height: 2.2rem;
    top: 0;
}
.card .btn-card_primary{
    background-color: #c0c0c0;/*#41c172;*/
    color: white;
}
.card .btn-card_danger{
    background-color: #c0c0c0;/*#f6383a;*/
    color: white;
}
/********************* address/save *****************************/
#page-address_save .list-block{
    margin: .75rem 0;
}
#page-address_save .content-block{
    margin: .75rem 0;
}
#page-address_save .content-block .button{
    width: 100%;
}
/********************* address-panel *****************************/
.all-shade{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
    display: none;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.fade_toggle{
    display: block;
    background: rgba(0, 0, 0, 0.3);
}
.address-panel{
    position: fixed;
    background-color: #f0f4f0;
    overflow: hidden;
    z-index: 9999;
    left: 0;
    bottom: 0;
    height: 18.5rem;
    width: 100%;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
.address-panel .address-header{
    text-align: center;
    line-height: 2rem;
    background-color: #fff;
}
.address-panel.active{
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
}
.address-panel .address-action{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.address-panel .address-action .address-ok{
    padding: .5rem;
}
.address-panel .panel-close{
    position: absolute;
    right: .3rem;
    top: .3rem;
    color: #9c9c9c;
    cursor: default;
}
.address-default .item-input{
    text-align: right;
}
.address-picker .close-picker,.address-picker .close-picker:active{
    color: #41c172;
}
.address-list .item-content{
    padding-left: 0;
}
.address-list .item-text{
    height: auto;
}
.address-list .label-checkbox{
    padding: 0 .75rem;
}
.address-list *{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}