.empty-cart-warp{
    width: 100%;
}
.empty-cart{
    margin: 0 auto;
    text-align: center;
}
.empty-cart .icon-cart{
    font-size: 5rem;
    color: #333;
}
.empty-cart .cart-tip{
    font-size: .8rem;
    line-height: 1.25rem;
    margin: .75rem 0;
    color: #333;
}
.empty-cart .btn-empty-cart{
    width: 7.5rem;
}
.cart-heard{
    width: 100%;
    height: 100%;
}
.cart-heard .label-checkbox{
    line-height: 2.2rem;
    margin-top: -2px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.cart-heard .label-checkbox:active{
    background-color: #f7f7f8 !important;
}
.cart-heard .s-text{
    margin-left: .5rem;
    font-size: .7rem;
}
.cart-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.cart-list li{
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
    position: relative;
}
.cart-list li .label-checkbox{
    padding: 0 .5rem;
    line-height: 5.5rem;
}
.cart-list .goods-img{
    width: 5.5rem;
    height: 5.5rem;
}
.cart-list .goods-img img{
    width: 100%;
    height: 100%;
}
.cart-list .goods-info{
    padding-left: .25rem;
}
.cart-list .goods-name{
    margin-top: .2rem;
    font-size: .75rem;
}
.cart-list .goods-price{
    font-size: .75rem;
    color: #ff655b;
}
.cart-list .goods-spec{
    font-size: .65rem;
    color: #999;
}
.cart-list .amount-input{
    width: 2rem;
}
.cart-list .action-group{
    position: absolute;
    bottom: .2rem;
    right: .4rem;
    overflow: hidden;
}
.cart-list .action-group > *{
    float: right;
}
.cart-list .amount-down,.cart-list .amount-up{
    border: 1px solid #d9d9d9;
    color: #41c172;
    display: inline-block;
    height: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
    width: 1.6rem;
}
.cart-list .amount-down{
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
}
.cart-list .amount-input{
    border-color: #d9d9d9;
    border-style: solid none;
    border-width: 0.05rem medium;
    height: 1.6rem;
    text-align: center;
    width: 2.2rem;
}
.cart-list .amount-up{
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}
.button.btn-clearing,.button.btn-clearing:active{
    top: .45rem;
    background-color: #41c172;
}
.cart-total p{
    margin-top: .1rem;
    font-size: .65rem;
}
.cart-total .cash{
    color: #ff655b;
}