/*************************首页产品列表****************************/
.product-area{
    background-color: #ffffff;
    width: 100%;
}
.product-area .product-title{
    border-bottom: .1rem solid #e7e7e7;
    line-height: 2.25rem;
}
.product-area .product-title h4{
    color: #41c172;
    margin-left: .5rem;
}
.product-area .product-title .icon{
    margin-right: .5rem;
    color: #9e9e9e;
}
.product-content{
    width: 100%;
}
.product-content .product-list-item{
    border-bottom: .05rem solid #e7e7e7;
    width: 100%;
    display: block;
    position: relative;
}
.product-content .product-list-item a{
    width: 100%;
}
.product-content .product-list-item:last-child{
    border-bottom: none;
}
.product-content .product-img{
    width: 5rem;
    height: 5rem;
    position: relative;
}
.product-content .product-img img{
    width: 100%;
    height: 100%;
}
.product-content .product-info{
    text-align: right;
    padding-right: .5rem;
    width: 100%;
}
.product-content .product-info h3{
    line-height: 1.35rem;
    font-size: .7rem;
    color: #333333;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.product-content .product-info .product_intro{
    color: #666666;
    font-size: 0.6rem;
}
.product-content .product-info .product-cost > div{
    line-height: 1.25rem;
}
.product-content .product-info .product-sell_num{
    color: #666666;
    font-size: 0.6rem;
    margin-top: .05rem;
}
.product-content .product-info .product_price{
    color: #ff655b;
    margin-right: 1rem;
}
.product-content .product-info .product_price sup{
    font-size: 0.6rem;
    margin-right: -0.25rem;
    line-height: 0.9rem;
}
.product-content .product-info .product_price em{
    font-size: 0.9rem;
    font-style: normal;
}
.product-content .product-info .product_price i{
    font-style: normal;
    margin: 0 -0.15rem;
}
.product-content .product-cart_add .icon{
    font-size: 1.3rem;
    color: #41c172;
    font-weight: 100;
}
.product-content .product-cart_add{
    cursor: pointer;
    line-height: 1.6rem;
    overflow: hidden;
    position: absolute;
    bottom: -.15rem;
    right: .5rem;
    width: 2.5rem;
    text-align: right;
}
/***********************  购买商品面板 *******************************/
.product-purchasing p{
    margin: 0;
}
.all-shade{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
    display: none;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.fade_toggle{
    display: block;
    background: rgba(0, 0, 0, 0.3);
}
.product-panel{
    position: fixed;
    background-color: #f0f4f0;
    overflow: hidden;
    z-index: 9999;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 100%;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
.product-panel.active{
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
}
.product-panel .product-view{
    background-color: #ffffff;
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
}
.product-panel .product-img{
    width: 4rem;
    height: 4rem;
}
.product-panel .product-img img{
    width: 100%;
    height: 100%;
    display: block;
}
.product-panel .product-info{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: .25rem .5rem;
}
.product-panel .product-info .product_name{
    font-size: .75rem;
    width: 85%;
}
.product-panel .product-info .product_property{
    font-size: .65rem;
    color: #666;
}
.product-panel .product-info .product_price{
    color: #ff655b;
    font-size: .75rem;
}
.product-panel .product-info .product_price sup{
    font-size: 0.6rem;
    margin-right: -.05rem;
    line-height: 1rem;
}
.product-panel .product-info .product_price em{
    font-size: 1rem;
}
.product-panel .product-info .product_price i{
    font-style: normal;
}
.product-panel .product-info .product-purchase_num{
    color: #666666;
    padding-left: .5rem;
}
.product-panel .panel-close{
    position: absolute;
    right: .3rem;
    top: .3rem;
    color: #9c9c9c;
    cursor: default;
}
.product-panel .product-action{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.product-panel .product-action .product-ok{
    padding: .5rem;
}
.product-panel .product-select-box{
    padding: .5rem;
    overflow-y: auto;
    height: calc(100% - 8.4rem);
    height: -moz-calc(100% - 8.4rem);
    height: -webkit-calc(100% - 8.4rem);
}
.product-panel .product-property-type{
    border-bottom: 1px solid #CCCCCC;
    padding: .25rem 0;
}
.product-panel .product-property-type .property-type{
    font-size: .75rem;
}
.product-panel .product-property-type .property-box{
    list-style: none;
    margin: .25rem 0;
}
.product-panel .product-property-type .property-item{
    display: inline-block;
    font-size: .65rem;
    border: 1px solid #bbb;
    border-radius: 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari 和 Chrome */
    padding: .25rem .5rem;
    margin-right: .5rem;
    cursor: pointer;
}
.product-panel .product-property-type .property-item.selected{
    border-color: #41c172;
    color: #41c172;
}
.product-panel .product-property-type .property-item.disabled{
    border: 1px dashed #ccc;
    color: #999;
    cursor: not-allowed;
}
.product-panel .product-order{
    padding-top: .5rem;
}
.product-panel .product-order .order-header{
    font-size: .75rem;
    line-height: 1.75rem;
}
.product-panel .product-order .order-header .order-stock{
    font-size: .6rem;
    color: #666666;
}
.product-panel .product-order .order-action{
    overflow: hidden;
}
.product-panel .order-action .amount-down,.product-panel .order-action .amount-up{
    border: 1px solid #d9d9d9;
    display: inline-block;
    width: 1.55rem;
    height: 1.55rem;
    line-height: 1.55rem;
    text-align: center;
    color: #41c172;
}
.product-panel .order-action .amount-down{
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
}
.product-panel .order-action .amount-up{
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.product-panel .order-action .amount-input{
    height: 1.55rem;
    border-top: .05rem solid #d9d9d9;
    border-bottom: .05rem solid #d9d9d9;
    border-left: none;
    border-right: none;
    text-align: center;
    width: 3rem;
}

/**************************  goods_list ******************************/
#page-goods_list #nav{
    list-style: none;
}
#page-goods_list #nav li{
    text-align:center;
    font-size: .7rem;
    cursor:pointer;
    padding: .5rem 0;
}
#page-goods_list #nav li.active {
    color: #ff655b;
}
#page-goods_list #nav li div{
    border-right: 1px solid #e7e7e7;
}
#page-goods_list #nav li:last-child div{
    border-right: none;
}

/**************************  goods_detail ******************************/
#page-goods_detail .product_info{
    padding: .5rem .75rem;
    background-color: white;
}
#page-goods_detail .product-title h4{
    padding-right: .25rem;
    font-size: .85rem;
}
#page-goods_detail .collect{
    text-align: center;
    padding: 0 .25rem;
    min-width: 55px;
    border-left: 1px solid #ececec;
    cursor: pointer;
}
#page-goods_detail .collect.active i{
    color: #ff655b;
}
#page-goods_detail .collect i{
    font-size: .85rem;
}
#page-goods_detail .collect p{
    font-size: .65rem;
}
#page-goods_detail .product_price{
    padding: .25rem 0 0;
}
#page-goods_detail .product_price p{
    line-height: 1.5rem;
}
#page-goods_detail .product_info .sell_price {
    color: #ff655b;
}
#page-goods_detail .product_info .sell_price sup {
    font-size: .6rem;
    line-height: .9rem;
    margin-right: -.25rem;
}
#page-goods_detail .product_info .sell_price em {
    font-size: 1rem;
    font-style: normal;
}
#page-goods_detail .product_info .sell_price i {
    font-style: normal;
    margin: 0 -.15rem;
}
#page-goods_detail .product-sale{
    font-size: .65rem;
    color: #666;
}
#page-goods_detail .product_spec{
    margin: .35rem 0;
}
.page-goods .product_evaluate{
    background-color: white;
    padding-bottom: .5rem;
}
.page-goods .product_evaluate h4{
    border-bottom: 1px solid #ececec;
    line-height: 2.2rem;
    padding: 0 .75rem;
}
.page-goods .evaluate_list{
    padding: 0 .75rem;
    list-style: none;
}
.page-goods .evaluate_item{
    padding: .5rem 0;
    border-bottom: 1px solid #ececec;
}
.page-goods .evaluate_item:last-child{
    border-bottom: none;
}
.page-goods .evaluate_list h5{
    line-height: 1.8rem;
}
.page-goods .evaluate_list .avator{
    border-radius: 50%;
    -moz-border-radius: 50%; /* Firefox */
    -webkit-border-radius: 50%; /* Safari 和 Chrome */
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    float: left;
    margin-right: .5rem;
}
.page-goods .evaluate_item .evaluate_content{
    clear: both;
    margin: .35rem 0;
    font-size: .75rem;
}
.page-goods .evaluate_item .evaluate_time{
    color: #666;
    font-size: .65rem;
}
#page-goods_detail .btn-evaluate{
    margin: 0 auto;
    width: 5.5rem;
}
#page-goods_detail .product_describe{
    margin-top: .35rem;
}
#page-goods_detail .product_describe .buttons-tab.fixed-tab{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.65);
}
#page-goods_detail .product_describe .buttons-tab .button.active{
    border-color: #41c172;
    color: #41c172;
}
#page-goods_detail .product_describe .tab{
    padding-top: .35rem;
    padding-bottom: .5rem;
}
#page-goods_detail .product_describe #tab-detail img{
    width: 100%;
    display: block;
}
#page-goods_detail .product_describe #tab-attr .list-block{
    margin: 0;
    font-size: .75rem;
}
.footer-goods_detail{
    padding: 0;
}
.footer-goods_detail ul{
    list-style: none;
    height: 2.2rem;
    line-height: 2.2rem;
}
.footer-goods_detail ul li{
    position: relative;
    width: 2.4rem;
    text-align: center;
}
.footer-goods_detail ul li:first-child{
    border-right: 1px solid #e2e2e2;
}
.footer-goods_detail ul li:first-child .badge {
    background: red none repeat scroll 0 0;
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem; /* Firefox */
    -webkit-border-radius: 0.5rem; /* Safari 和 Chrome */
    color: #fff;
    font-size: 0.6rem;
    height: 0.8rem;
    left: 50%;
    line-height: 0.8rem;
    margin-left: 0.1rem;
    min-width: 0.8rem;
    padding: 0 0.2rem;
    position: absolute;
    top: 0.1rem;
    vertical-align: top;
    z-index: 100;
}
.footer-goods_detail ul li span.icon{
    line-height: 2.2rem;
    display: block;
    padding: 0;
    color: #7f7f7f;
}
.footer-goods_detail ul li:last-child{
    width: 100%;
}
.footer-goods_detail ul li:last-child a.button{
    border-radius: 0;
    -moz-border-radius: 0; /* Firefox */
    -webkit-border-radius: 0; /* Safari 和 Chrome */
    height: 2.2rem;
    line-height: 2.2rem;
    display: block;
    top: 0;
}

/*****************************  evaluate/index ************************************/

/*****************************  collect/index ************************************/
#page-collect_list .content .product-img{
    width: 3.5rem;
    height: 3.5rem;
}
#page-collect_list .card-footer{
    padding: 0;
}
#page-collect_list .card-footer > div{
    text-align: center;
    height: 2.2rem;
    line-height: 2.2rem;
}
#page-collect_list .card-footer > div a{
    display: inline-block;
    width: 100%;
    border-left: 1px solid #e1e1e1;
}
#page-collect_list .card-footer > div a:last-child{
    border-right: 0;
}
#page-collect_list .card{
    margin: 0 0 .5rem;
}
#page-collect_list .card:last-child{
    margin: 0;
}
#page-collect_list .card-content-inner{
    padding: .5rem;
}
.card .btn-card_primary{
    background-color: #c0c0c0;/*#41c172;*/
    color: white;
}
.card .btn-card_danger{
    background-color: #c0c0c0;/*#f6383a;*/
    color: white;
}