.page-order_create .list-block{
    margin: 0;
}
.order-address .no-address.list-block .item-title{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.address-area .item-text{height: auto;}
.goods-info .content-block-title{
    line-height: 2.2rem;
    margin: 0;
    padding: 0 .75rem;
}
.list-block .item-price{
    color: #ff655b;
}
.goods-info .item-num{
    right: .75rem;
    bottom: 50%;
    margin-bottom: -5px;
    color: #999;
}
.order-goods-statistics{
    background-color: white;
    text-align: right;
    padding: 0 .75rem;
    line-height: 2.2rem;
}
.order-goods-statistics p{
    display: inline-block;
    font-size: .75rem;
    margin-left: .75rem;
}
.order-goods-statistics .total-price{
    color: #ff655b;
}
.order-note textarea{
    background-color: white;
    padding: .25rem .75rem;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    height: 2.2rem;
    line-height: 1.7rem;
}
.page-order_create div.order-pay-type{

}
.page-order_create div.order-pay-type > ul{
    margin: .5rem 0
}
.bar-order_create .order-amount{
    line-height: 2.2rem;
    font-size: .75rem;
}
.order-form .order-amount ul{
    border-top: none;
}
.bar-order_create .order-amount span{
    color: #ff655b;
    margin: 0 .2rem;
}
.bar-order_create .btn-submit,.bar-order_create .btn-submit:active{
    background-color: #41c172;
    top: .4rem;
    height: 1.4rem;
    line-height: 1.4rem;
}
/********************* address-panel *****************************/
.all-shade{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 99;
    display: none;
    -webkit-transition: background .3s;
    transition: background .3s;
}
.fade_toggle{
    display: block;
    background: rgba(0, 0, 0, 0.3);
}
.address-panel{
    position: fixed;
    background-color: #f0f4f0;
    overflow: hidden;
    z-index: 9999;
    left: 0;
    bottom: 0;
    height: 18.5rem;
    width: 100%;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
}
.address-panel .address-header{
    text-align: center;
    line-height: 2rem;
    background-color: #fff;
}
.address-panel.active{
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
}
.address-panel .address-action{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.address-panel .address-action .address-ok{
    padding: .5rem;
}
.address-panel .panel-close{
    position: absolute;
    right: .3rem;
    top: .3rem;
    color: #9c9c9c;
    cursor: default;
}
.address-panel .address-default .item-input{
    text-align: right;
}
.address-picker .close-picker,.address-picker .close-picker:active{
    color: #41c172;
}
.address-list .item-content{
    padding-left: 0;
}
.address-list .item-text{
    height: auto;
}
.address-list .label-checkbox{
    padding: 0 .75rem;
}
.address-list *{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
/**************************************************/
#page-order_index .card-header{
    font-size: .7rem;
}
#page-order_index .card ul.product-list{
    padding: 0;
}
#page-order_index .card ul .product-item{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: .5rem;
}
#page-order_index .card .product-info{
    padding-left: 1rem;
    position: relative;
}
#page-order_index .card .card-content-inner{
    padding-bottom: 0;
    display: block;
}
#page-order_index .card .card-footer:first-child{
    border: none;
}
#page-order_index .card .product_name{
    color: #333;
}
#page-order_index .card .product_price {
    font-size: .8rem;
}
#page-order_index .card .product_unit{
    color: #808080;
    font-size: .7rem;
}
#page-order_index .card .product_price i {
    font-style: normal;
    margin: 0 -0.15rem;
}
#page-order_index .card .product_spec{
    font-size: .7rem;
    color: #808080;
}
#page-order_index .card .product_num{
    position: absolute;
    right: 0;
    top: 25%;
    font-size: .85rem;
    color: #808080;
}
.popover-order_status a.list-button.item-link{
    color: #ff6600;
}
.popover-order_status a.list-button.item-link:active{
    background-color: #fafafa;
}